<!DOCTYPE html>
<html>
    <head>
      <title>DecisionHelper</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <!--<link rel="stylesheet" href="material.blue-orange.min.css">-->
      <!--<script src="material.min.js"></script>-->
      <!--<link rel="stylesheet" href="icon.css">-->
      <%= csrf_meta_tags %>
    </head>

    <body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
          <%= render 'layouts/header' %>
          <main class="mdl-layout__content">
            <% flash.each do |mes_type, mes| %>
                <div class="alert alert-<%= mes_type %>"><%= mes %></div>
            <% end %>
            <%= yield %>
          </main>
          <%= render 'layouts/footer' %>
        </div>
    </body>
</html>
